@page
@model WebBankApplication.Pages.Sections.CrudMenu.CreateUserModel
@{
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Create New user</h1>
                <span>KYH Bank System</span>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px">
    <form method="post">
        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" class="form-control" id="UserName" name="UserName" required />
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="Email" name="Email" required />
        </div>

        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control" id="Password" name="Password" required />
        </div>

        <div class="form-group">
            <label for="Role">Role:</label>
            <select class="form-control" id="Role" name="Role" required>
                <option value="Admin">Admin</option>
                <option value="Cashier">Cashier</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<br />
<br />
<br />
<br />
<br />