@page
@model WebBankApplication.Pages.BankApplicationModel
@{
    ViewData["Title"] = "Bank Application Page";
}


<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bank Application Page</h1>
                <span>KYH Bank System</span>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:100px">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Bank Application Information</h4>
        </div>
        <div class="card-body">

            <table class="table table-hover table-bordered">
                <tr class="thead-dark">
                    <th>Total Customers</th>
                    <th>Total Accounts</th>
                    <th>Total Balance</th>
                </tr>
                <tr>
                    <td>@Model.ViewModel.TotalCustomers</td>
                    <td>@Model.ViewModel.TotalAccounts</td>
                    <td>@Model.ViewModel.TotalBalance</td>
                </tr>
            </table>
            <p><a asp-area="" asp-page="/Top20Accounts" style="display:flex; justify-content:center">View Top 20 Accounts</a></p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />