@page
@model WebBankApplication.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KYH Bank</h1>
    <!-- Add other content or links as needed -->
</div>