@page
@model WebBankApplication.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are ready to help you</h6>
                    <h4>Welcome to KYH Bank</h4>
                    <p>Welcome to our bank. You have the option to withdraw or deposit an amount through the application.</p>
                </div>
            </div>
        </div>
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are here to support you</h6>
                    <h4>Accounting<br>&amp; Management</h4>
                    <p>Welcome to our bank. You have the option to withdraw or deposit an amount through the application.</p>

                </div>
            </div>
        </div>
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we have a solid background</h6>
                    <p>Welcome to our bank. You have the option to withdraw or deposit an amount through the application.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Financial <em>Services</em></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/customerSide/assets/images/service_01.jpg" alt="">
                    <div class="down-content">
                        <h4>Withdraw Money</h4>
                        <p>You can securely withdraw money from your account. Please ensure that you enter the correct amount to proceed. The transaction will be processed promptly, and your balance will be updated accordingly.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/customerSide/assets/images/service_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Deposit Money</h4>
                        <p>Depositing money into your account is easy and secure. Simply enter the amount you wish to deposit, and your funds will be added to your balance immediately. Ensure that you follow all necessary.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/customerSide/assets/images/service_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Transfer Money</h4>
                        <p>Transferring money is a straightforward process that allows you to send funds to another account quickly and securely. Simply enter the recipient's details and the amount you wish to transfer. Ensure you review the transaction details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/customerSide/assets/images/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>Who we are</span>
                                <h2>Get to know about <em>our bank</em></h2>
                                <p>Depositing money into your account is easy and secure. Simply enter the amount you wish to deposit, and your funds will be added to your balance immediately. Ensure that you follow all necessary.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />