@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
                <span>KYH Bank System</span>
            </div>
        </div>
    </div>
</div>
<div class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em> Login</em></h2>
                </div>
            </div>
            <div class="col-md-6 offset-3">
                <div class="contact-form">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </fieldset>

                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="login-submit" class="border-button">Login</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
