@page
@model WebBankApplication.Pages.Sections.AccountViews.DepositModel
@{
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Payment Deposit</h1>
                <span>KYH Bank System</span>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Payment Deposit</h4>
        </div>
        <div class="card-body">
            <h1>Deposit</h1>
            <h3>Balance: @Model.Balance kr</h3>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Amount">Amount</label>
                    <input class="form-control" asp-for="Amount" />
                    <span class="field-validation-error" asp-validation-for="Amount"></span>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mr-2">Deposit</button>
                    <a href="/Sections/CustomerViews/Customers" class="btn btn-secondary">Back</a>

                </div>
            </form>

        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />