@page
@model WebBankApplication.Pages.Sections.AccountViews.DepositModel
@{
}

<h1>Deposit</h1>
<h3>Balance: @Model.Balance kr</h3>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>
    <button type="submit" class="btn btn-primary">Deposit</button>
</form>

<a href="/Sections/CustomerViews/Customers" class="btn btn-secondary">Back</a>